<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>905187648913-th9ng0dnf4rdnn64earbdd1cgmv0cfil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905187648913-th9ng0dnf4rdnn64earbdd1cgmv0cfil</string>
	<key>API_KEY</key>
	<string>AIzaSyCbyqziuLBTjp6CKIQNvVFa1-uK49BOlng</string>
	<key>GCM_SENDER_ID</key>
	<string>905187648913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appcoda.stampcardeasy</string>
	<key>PROJECT_ID</key>
	<string>clicktostampcard</string>
	<key>STORAGE_BUCKET</key>
	<string>clicktostampcard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905187648913:ios:bd091a592f428ee6</string>
	<key>DATABASE_URL</key>
	<string>https://clicktostampcard.firebaseio.com</string>
</dict>
</plist>